In [25]:
import pandas as pd
from sklearn import datasets
import random
import math
import numpy as np

In [2]:
iris = datasets.load_iris()

In [3]:
df = pd.DataFrame(iris.data, columns = iris.feature_names)
df['target'] = iris.target

# What are our classes? 
### 0, 1, and 2 (Iris-Setosa, Iris-Versicolour, Iris-Virginica)

In [21]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [18]:
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [4]:
from sklearn.tree import plot_tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [5]:
clf = DecisionTreeClassifier(random_state=0)

In [6]:
X = df[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 
       'petal width (cm)']]

In [7]:
y = df['target']

#### X_train: features we have included in the training
#### X_test: features that we would use to test our model
#### y_train: labels used during training
#### y_test: labels used f|or model validation

#### Which of these variables would be used for measuring classification?

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [9]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=0)

In [10]:
y_pred = clf.predict(X_test)

In [11]:
y_pred

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0])

# Measuring Classification

X_train: features we have included in the training
X_test: features that we would use to test our model
y_train: labels used during training
y_test: labels used for model validation

Which of these variables would be used for measuring classification?

Answer is: y_test

The output that you get for model validation: y_pred

In [27]:
df_measuring_classification = pd.DataFrame({
    'y_test': y_test,
    'y_pred': y_pred
})

In [26]:
np.where(y_test == y_pred)

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29], dtype=int64),)

In [30]:
matches = df_measuring_classification[
    df_measuring_classification['y_test'] == df_measuring_classification['y_pred']
]

In [31]:
matches

     y_test  y_pred
73        1       1
18        0       0
118       2       2
78        1       1
76        1       1
31        0       0
64        1       1
141       2       2
68        1       1
82        1       1
110       2       2
12        0       0
36        0       0
9         0       0
19        0       0
56        1       1
104       2       2
69        1       1
55        1       1
132       2       2
29        0       0
127       2       2
26        0       0
128       2       2
131       2       2
145       2       2
108       2       2
143       2       2
45        0       0
30        0       0

In [33]:
mis_matches = df_measuring_classification[
    df_measuring_classification['y_test'] != df_measuring_classification['y_pred']
]

In [34]:
mis_matches

Empty DataFrame
Columns: [y_test, y_pred]
Index: []

# Decision Tree made zero mistakes in learning to classify Iris family flowers.