In [29]:
import pandas as pd

In [30]:
df = pd.read_csv('data/years_of_exp_and_salary.csv')

In [31]:
df

   x_years_of_experience  y_salary_in_1000USD
0                      3                   30
1                      8                   57
2                      9                   64
3                     13                   72
4                      3                   36
5                      6                   43
6                     11                   59
7                     21                   90
8                      1                   20
9                     16                   83

In [32]:
df.columns = ['x', 'y']

In [33]:
x_mean = df['x'].mean()
y_mean = df['y'].mean()

In [34]:
df['x minus x_mean'] = df['x'].apply(lambda x: x - x_mean)

In [35]:
df

    x   y  x minus x_mean
0   3  30            -6.1
1   8  57            -1.1
2   9  64            -0.1
3  13  72             3.9
4   3  36            -6.1
5   6  43            -3.1
6  11  59             1.9
7  21  90            11.9
8   1  20            -8.1
9  16  83             6.9

In [36]:
df['y minus y_mean'] = df['y'].apply(lambda y: y - y_mean)

In [37]:
df

    x   y  x minus x_mean  y minus y_mean
0   3  30            -6.1           -25.4
1   8  57            -1.1             1.6
2   9  64            -0.1             8.6
3  13  72             3.9            16.6
4   3  36            -6.1           -19.4
5   6  43            -3.1           -12.4
6  11  59             1.9             3.6
7  21  90            11.9            34.6
8   1  20            -8.1           -35.4
9  16  83             6.9            27.6

In [38]:
df['product_of_diff_from_mean'] = df.apply(lambda row: row['x minus x_mean'] * row['y minus y_mean'], axis = 1)

In [39]:
df

    x   y  x minus x_mean  y minus y_mean  product_of_diff_from_mean
0   3  30            -6.1           -25.4                     154.94
1   8  57            -1.1             1.6                      -1.76
2   9  64            -0.1             8.6                      -0.86
3  13  72             3.9            16.6                      64.74
4   3  36            -6.1           -19.4                     118.34
5   6  43            -3.1           -12.4                      38.44
6  11  59             1.9             3.6                       6.84
7  21  90            11.9            34.6                     411.74
8   1  20            -8.1           -35.4                     286.74
9  16  83             6.9            27.6                     190.44

In [40]:
df['sq of x minus x_mean'] = df['x minus x_mean'].apply(lambda x: x**2)

In [41]:
df

,x,y,x minus x_mean,y minus y_mean,product_of_diff_from_mean,sq of x minus x_mean
0,3,30,-6.1,-25.4,154.94,37.21
1,8,57,-1.1,1.6,-1.76,1.21
2,9,64,-0.1,8.6,-0.86,0.01
3,13,72,3.9,16.6,64.74,15.21
4,3,36,-6.1,-19.4,118.34,37.21
5,6,43,-3.1,-12.4,38.44,9.61
6,11,59,1.9,3.6,6.84,3.61
7,21,90,11.9,34.6,411.74,141.61
8,1,20,-8.1,-35.4,286.74,65.61
9,16,83,6.9,27.6,190.44,47.61

In [45]:
w1 = df['product_of_diff_from_mean'].sum() / df['sq of x minus x_mean'].sum()

In [46]:
w1

3.5374756199498467

In [47]:
w0 = y_mean - w1 * x_mean

In [48]:
w0

23.208971858456394

# Using statistics package

In [49]:
import statistics as st

In [50]:
slope, intercept = st.linear_regression(df['x'], df['y'])

In [51]:
slope

3.5374756199498463

In [52]:
intercept

23.2089718584564