# Euclidean Distance

In [14]:
from scipy.spatial import distance

In [4]:
import math
A = (2, 4)
B = (1, 3)
print(math.dist(A, B))

1.4142135623730951

In [5]:
A = (2, 7, 5)
B = (4, 8, 9)
print(math.dist(A, B))

4.58257569495584

In [1]:
import numpy as np
p1 = np.array((1,2,3))
p2 = np.array((3,2,1))

sq = np.sqrt(np.sum(np.square(p1 - p2)))

print(sq)

2.8284271247461903

In [15]:
import numpy as np # importing the package

p1 = np.array((1,2,3))
p2 = np.array((3,2,1))

distance.euclidean(p1, p2)

2.8284271247461903

# Manhattan Distance

In [24]:
def manhattan(a, b):
    return sum(abs(val1-val2) for val1, val2 in zip(a,b))
 
#define vectors
A = [2, 4, 4, 6]
B = [5, 5, 7, 8]

#calculate Manhattan distance between vectors
manhattan(A, B)

9

In [21]:
A = (2, 4)
B = (1, 3)
A = np.array(A)
B = np.array(B)
print(np.sum(np.abs(A - B)))

2

In [22]:
A = (2, 7, 5)
B = (4, 8, 9)
A = np.array(A)
B = np.array(B)
print(np.sum(np.abs(A - B)))

7

In [23]:
import numpy as np
p1 = np.array((1,2,3))
p2 = np.array((3,2,1))
print(np.sum(np.abs(p1 - p2)))

4

In [25]:
from scipy.spatial import distance
print(distance.cityblock(p1, p2))

4

# Minkowski Distance

In [29]:
from scipy.spatial import distance
import numpy as np
u = np.array((1,2,3))
v = np.array((3,2,1))

In [30]:
distance.minkowski(u, v, p=3)

2.5198420997897464

In [31]:
u = np.array((22, 1, 42, 10))
v = np.array((20, 0, 36, 8))
distance.minkowski(u, v, p=3)

6.153449493663682

# Jaccard Coefficient

In [17]:
from sklearn.metrics import jaccard_score
import pandas as pd

In [29]:
df = pd.read_csv('shopping cart.csv')

In [32]:
df = df.set_index('Cart ID')

In [35]:
df

         Apple  Tomato  Eggs  Milk  Coffee  Sugar
Cart ID
A            1       0     0     1       1      1
B            0       0     1     1       1      0
C            1       0     0     1       0      1
D            0       1     1     0       1      0

In [33]:
dft = df.T

In [34]:
dft

Cart ID  A  B  C  D
Apple    1  0  1  0
Tomato   0  0  0  1
Eggs     0  1  0  1
Milk     1  1  1  0
Coffee   1  1  0  1
Sugar    1  0  1  0

In [58]:
dft['q'] = (dft['A'] == dft['B']) & (dft['A'] == 1)
dft['r'] = (dft['A'] == 1) & (dft['B'] == 0)
dft['s'] = (dft['A'] == 0) & (dft['B'] == 1)

In [59]:
dft

Cart ID  A  B  C  D      q      r      s
Apple    1  0  1  0  False   True  False
Tomato   0  0  0  1  False  False  False
Eggs     0  1  0  1  False  False   True
Milk     1  1  1  0   True  False  False
Coffee   1  1  0  1   True  False  False
Sugar    1  0  1  0  False   True  False

In [60]:
q = dft['q'].value_counts().loc[True]
r = dft['r'].value_counts().loc[True]
s = dft['s'].value_counts().loc[True]

In [61]:
q, r, s

(2, 2, 1)

In [63]:
print("Jaccard coefficient or similarity is:", (q / (q+r+s)))

Jaccard coefficient or similarity is: 0.4

In [78]:
np.array(B.values)

array([0, 0, 1, 1, 1, 0], dtype=object)

# Jaccard Distance

In [71]:
from scipy.spatial import distance
import pandas as pd

In [72]:
df = pd.read_csv('shopping cart.csv')

In [73]:
df

  Cart ID  Apple  Tomato  Eggs  Milk  Coffee  Sugar
0       A      1       0     0     1       1      1
1       B      0       0     1     1       1      0
2       C      1       0     0     1       0      1
3       D      0       1     1     0       1      0

In [74]:
A = df.loc[0, df.columns != 'Cart ID']
A

Apple     1
Tomato    0
Eggs      0
Milk      1
Coffee    1
Sugar     1
Name: 0, dtype: object

In [75]:
B = df.loc[1, df.columns != 'Cart ID']
B

Apple     0
Tomato    0
Eggs      1
Milk      1
Coffee    1
Sugar     0
Name: 1, dtype: object

In [76]:
distance.jaccard(A, B)

0.6

In [78]:
C = df.loc[2, df.columns != 'Cart ID']
D = df.loc[3, df.columns != 'Cart ID']
dist = distance.jaccard(C, D) 
print(dist)
print(1 - dist)

1.0
0.0

# jaccard similarity = 1 - jaccard dissimilarity 
### jaccard similarity (aka score or oefficient) 
### jaccard dissimilarity (aka distance)