# Euclidean Distance

In [14]:
from scipy.spatial import distance

In [4]:
import math
A = (2, 4)
B = (1, 3)
print(math.dist(A, B))

1.4142135623730951

In [5]:
A = (2, 7, 5)
B = (4, 8, 9)
print(math.dist(A, B))

4.58257569495584

In [7]:
import numpy as np
p1 = np.array((1,2,3))
p2 = np.array((3,2,1))
sq = np.sum(np.square(p1 - p2))
print(np.sqrt(sq))

2.8284271247461903

In [15]:
distance.euclidean(p1, p2)

2.8284271247461903

# Manhattan Distance

In [24]:
def manhattan(a, b):
    return sum(abs(val1-val2) for val1, val2 in zip(a,b))
 
#define vectors
A = [2, 4, 4, 6]
B = [5, 5, 7, 8]

#calculate Manhattan distance between vectors
manhattan(A, B)

9

In [21]:
A = (2, 4)
B = (1, 3)
A = np.array(A)
B = np.array(B)
print(np.sum(np.abs(A - B)))

2

In [22]:
A = (2, 7, 5)
B = (4, 8, 9)
A = np.array(A)
B = np.array(B)
print(np.sum(np.abs(A - B)))

7

In [23]:
import numpy as np
p1 = np.array((1,2,3))
p2 = np.array((3,2,1))
print(np.sum(np.abs(p1 - p2)))

4

In [25]:
from scipy.spatial import distance
print(distance.cityblock(p1, p2))

4

# Minkowski Distance

In [29]:
from scipy.spatial import distance
import numpy as np
u = np.array((1,2,3))
v = np.array((3,2,1))

In [30]:
distance.minkowski(u, v, p=3)

2.5198420997897464

In [31]:
u = np.array((22, 1, 42, 10))
v = np.array((20, 0, 36, 8))
distance.minkowski(u, v, p=3)

6.153449493663682

# Jaccard Coefficient

In [80]:
from sklearn.metrics import jaccard_score

In [72]:
df = pd.read_csv('shopping cart.csv')

In [73]:
df

  Cart ID  Apple  Tomato  Eggs  Milk  Coffee  Sugar
0       A      1       0     0     1       1      1
1       B      0       0     1     1       1      0
2       C      1       0     0     1       0      1
3       D      0       1     1     0       1      0

In [74]:
A = df.loc[0, df.columns != 'Cart ID']
A

Apple     1
Tomato    0
Eggs      0
Milk      1
Coffee    1
Sugar     1
Name: 0, dtype: object

In [75]:
B = df.loc[1, df.columns != 'Cart ID']
B

Apple     0
Tomato    0
Eggs      1
Milk      1
Coffee    1
Sugar     0
Name: 1, dtype: object

In [78]:
np.array(B.values)

array([0, 0, 1, 1, 1, 0], dtype=object)

In [81]:
jaccard_score(np.array(A.values), np.array(B.values), average="samples")

ValueError: unknown is not supported

# Jaccard Distance

In [33]:
from scipy.spatial import distance
import pandas as pd

In [34]:
df = pd.read_csv('shopping cart.csv')

In [35]:
df

  Cart ID  Apple  Tomato  Eggs  Milk  Coffee  Sugar
0       A      1       0     0     1       1      1
1       B      0       0     1     1       1      0
2       C      1       0     0     1       0      1
3       D      0       1     1     0       1      0

In [47]:
A = df.loc[0, df.columns != 'Cart ID']
A

Apple     1
Tomato    0
Eggs      0
Milk      1
Coffee    1
Sugar     1
Name: 0, dtype: object

In [49]:
B = df.loc[1, df.columns != 'Cart ID']
B

Apple     0
Tomato    0
Eggs      1
Milk      1
Coffee    1
Sugar     0
Name: 1, dtype: object

In [52]:
distance.jaccard(A, B)

0.6